// Theme configuration
$base-font-size: $font-size-regular;
// Typo
$text-color: #000;
$base-font-family: $open-sans;
$base-font-weight: $font-weight-regular;
$heading-font-family: $open-sans;
$heading-font-weight: $font-weight-regular;
