// Colors
$white: #fff;
$black: #000;

// Resolutions
$mobile-small:	240;
$mobile-large:	320;
$tablet-small:	480;
$tablet-large:	768;
$screen-small:	1024;
$screen-large:	1280;

// Typo

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;


// Fonts
$open-sans: "Open-Sans", sans-serif;
